
*{
    box-sizing: border-box;
}
body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Oxygen', sans-serif;
}
 #nav{
  margin: 10px auto;
  width: 450px;
} 

 #fsdLogo {
  float: left;
  height: 100px;
  width: 140px;
  padding-right: 5px;

 }
 #intro {
     float: left;
     clear: both;
     width: 100%;
     margin: 20px;
     padding: 5px;
     border-left: 5px solid teal;
     
 }
 .link{
     margin-top: 2px; 
 }
 a, a:visited{
     text-decoration: none;
     color: thistle;
 }
 a:hover{
     color: turquoise;
     border: thistle;
 }
/********For laptop/Larger device**********/
@media (min-width:992px){
    .container{
        clear: both;
        width: auto;
        margin-top: 30px;
        margin-left: 10px;
        border: 2px solid teal;
        border-radius: 5px;
    
        }
     .pract-no{
         height: 30px;
         width: 30px;
         background-color: teal;
         float: left;
         text-align: center;
         font-size: large;
         margin: 5px;
     }
     #fsdLogo {
        float: left;
        height: 100px;
        width: 140px;
        padding-right: 5px;
      
       }
    
}

/**********For Tablet****************/
@media (min-width:992px){
    .container{
        clear: both;
        width: auto;
        margin-top: 30px;
        margin-left: 100px;
        border: 2px solid teal;
        border-radius: 5px;
    
        }
     .pract-no{
         height: 30px;
         width: 30px;
         background-color: teal;
         float: left;
         text-align: center;
         font-size: large;
         margin: 5px;
     }
     #fsdLogo {
        float: left;
        height: 100px;
        width: 140px;
        padding-right: 5px;
      
       }
       h1{
           float: left;
           margin-top: 15px;
       }
    
}


 /****For Mobiles******/
  @media (min-width:0px) and (max-width:767px) {
    #nav{
  margin: 20px auto;
  width: 100px;
} 
    #fsdLogo{
        float: left;
        margin-left: 20px;
        height: 50px;
        width : 75px;
        padding-right : 5px;
      } 
      .container{
        clear: both;
        width: 100%;
        margin-top: 30px;
        margin-left: 10px;
        border-bottom: 3px solid teal;
        }

        h1{
            font-size: 30px;
        }
        .pract-no{
            height: 30px;
            width: 30px;
            background-color: teal;
            float: left;
            text-align: center;
            font-size: large;
           margin: 5px;
        }



 } 
